<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="advantages-section">
        <div class="container">
            <h2 class="advantages-headline visually-hidden">Advantages</h2>
            <ul class="advantages">
                <li class="advantage">
                    <div class="advantage-icon-container">
                        <svg class="advantage-icon taste-icon">
                            <use href="../img/sprite.svg#icon-taste"></use>
                        </svg>
                    </div>
    
                    <h3 class="advantage-headline">
                        Unsurpassed taste
                    </h3>
    
                    <p class="advantage-text">
                        Crafted with the finest quality cocoa beans and a dedication to perfection,
                        each bite is a decadent experience that simply cannot be matched.
                        Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.
                    </p>
                </li>
    
                <li class="advantage">
                    <div class="advantage-icon-container">
                        <svg class="advantage-icon price-icon">
                            <use href="../img/sprite.svg#icon-price"></use>
                        </svg>
                    </div>
    
                    <h3 class="advantage-headline">
                        Affordable price
                    </h3>
    
                    <p class="advantage-text">
                        Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats.
                        Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality.
                        Browse our selection and indulge in affordable luxury today.
                    </p>
                </li>
    
                <li class="advantage">
                    <div class="advantage-icon-container">
                        <svg class="advantage-icon production-icon">
                            <use href="../img/sprite.svg#icon-production"></use>
                        </svg>
                    </div>
    
                    <h3 class="advantage-headline">
                        Own production
                    </h3>
    
                    <p class="advantage-text">
                        We take pride in our own production process, ensuring that every step is carefully crafted to perfection.
                        From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.
                    </p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>
