<footer class="footer">
  <div class="container">
    <div class="footer-div">
      <h2 class="visually-hidden">Chocolate a delicious cure</h2>
      <p class="footer-slogan">
        <span class="footer-span">Chocolate</span> a delicious cure for a bad
        day
      </p>
      <div class="footer-wrap">
        <div class="footer-contact">
          <h3 class="footer-text">Contact us</h3>
          <address>
            <ul class="footer-contact-list">
              <li class="footer-item">
                <a href="tel:+380(68)443-94-26" class="footer-contact">
                  +380 (68) 443-94-26
                </a>
              </li>
              <li class="footer-item">
                <a href="mailto:simplychoc@gmail.com" class="footer-contact">
                  simplychoc@gmail.com
                </a>
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a target="_blank" class="footer-soc-link" href="">
              <svg class="footer-soc-icon" width="22" height="22">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a target="_blank" class="footer-soc-link" href="">
              <svg class="footer-soc-icon" width="22" height="22">
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <ul class="footer-list">
      <li class="footer-item"><a class="footer-link" href="#home"> Home</a></li>
      <li class="footer-item">
        <a class="footer-link" href="#production"> How it&#39;s made?</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#products"> Our products</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#sellers">Top sellers</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
