<header id="home" class="header">
      <div class="container wrap">
        <div class="header-div">
          <a class="header-logo" href="../index.html">Simply <span class="logo-span">Chocolate</span></a>
          <a class="logo-icon-link" href="../index.html">
            <svg class="logo-icon" width="21" height="21">
              <use href="./img/sprite.svg#icon-chocolate"></use>
            </svg>
          </a>
        </div>
        <button
          type="button"
          class="js-open-menu is-open"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
        <div class="js-menu-container">
          <button class="close-btn js-close-menu">
            <svg class="close-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-close-1"></use>
            </svg>
          </button>
          <div class="header-wrap">
            <ul class="header-list">
              <li class="header-item">
                <a class="header-link" href="#home">Home</a>
              </li>
              <li class="header-item">
                <a class="header-link" href="#production">How it&#39;s made?</a>
              </li>
              <li class="header-item">
                <a class="header-link" href="#products">Our products</a>
              </li>
              <li class="header-item">
                <a class="header-link" href="#sellers">Top sellers</a>
              </li>
              <li class="header-item">
                <a class="header-link" href="#reviews">Chocolate is loved</a>
              </li>
            </ul>
            <ul class="header-soc-list">
              <li class="header-soc-item">
                <a target="_blank" class="header-soc-link" href="https://www.instagram.com/">
                  <svg class="header-soc-icon" width="22" height="22">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="header-soc-item">
                <a target="_blank" class="header-soc-link" href="https://twitter.com/">
                  <svg class="header-soc-icon" width="22" height="22">
                    <use href="./img/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <script src="./mobile-menu.js"></script>
  </body>
</html>
