<section class="production" id="production">
  <div class="container">
    <h2 class="production-title">
      HOW IT&#10076;S
      <span class="production-title-text">MADE?</span>
    </h2>
    <div class="production-wrap">
      <div class="wrap-video">
        <iframe
          class="production-video"
          src="https://www.youtube.com/embed/9MBrCCCrvDA"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="wrap-text">
        <p class="production-title-secondary">
          Try our chocolates today and <br />
          discover the perfect balance of flavor
        </p>
        <ul class="production-list">
          <li class="production-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="production-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="production-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="production-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="production-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
