<section class="products" id="products">
  <div class="container">
    <h2 class="products-title">
      our<span class="products-title-recolor"> products</span>
    </h2>
    <ul class="products-list">
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/orange-1x.webp 1x,
                ./img/products-img/orange-2x.webp 2x
              "
              src="./img/products-img/orange-1x.webp"
              alt="Orange"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">ORANGE</h3>
          <p class="chocolate-type">Dark chocolate</p>
          <button class="products-button">45 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/apple-1x.webp 1x,
                ./img/products-img/apple-2x.webp 2x
              "
              src="./img/products-img/apple-1x.webp"
              alt="apple"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">APPLE&CRANBERRY</h3>
          <p class="chocolate-type">Milk chocolate</p>
          <button class="products-button">50 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/lime-1x.webp 1x,
                ./img/products-img/lime-2x.webp 2x
              "
              src="./img/products-img/lime-1x.webp"
              alt="lime"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">LIME&SEA SALT</h3>
          <p class="chocolate-type">Dark chocolate</p>
          <button class="products-button">66 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/pineapple-1x.webp 1x,
                ./img/products-img/pineapple-2x.webp 2x
              "
              src="./img/products-img/pineapple-1x.webp"
              alt="pineapple"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">PINEAPPLE</h3>
          <p class="chocolate-type">Dark chocolate</p>
          <button class="products-button">54 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/classic-1x.webp 1x,
                ./img/products-img/classic-2x.webp 2x
              "
              src="./img/products-img/classic-1x.webp"
              alt="classic"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">CLASSIC</h3>
          <p class="chocolate-type">Milk chocolate</p>
          <button class="products-button">45 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/honey-1x.webp 1x,
                ./img/products-img/honey-2x.webp 2x
              "
              src="./img/products-img/honey-1x.webp"
              alt="honey"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">HONEY</h3>
          <p class="chocolate-type">Milk chocolate</p>
          <button class="products-button">50 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/roasted-1x.webp 1x,
                ./img/products-img/roasted-2x.webp 2x
              "
              src="./img/products-img/roasted-1x.webp"
              alt="roasted"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">ROASTED FRUITS</h3>
          <p class="chocolate-type">Dark chocolate</p>
          <button class="products-button">66 UAH</button>
        </div>
      </li>
      <li class="products-list-item">
        <div class="products-div">
          <div class="products-image">
            <img
              srcset="
                ./img/products-img/white-1x.webp 1x,
                ./img/products-img/white-2x.webp 2x
              "
              src="./img/products-img/white-1x.webp"
              alt="white"
              width="230"
              height="201"
            />
          </div>
          <h3 class="chocolate-title">CLASSIC</h3>
          <p class="chocolate-type">White chocolate</p>
          <button class="products-button">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
