<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      <span class="reviews-title-accent">chocolate</span>
      is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-1.webp    1x,
                  ./img/reviews-img/img-client-1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-1.jpg    1x,
                  ./img/reviews-img/img-client-1@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-1.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Irina Tydnyuk</h3>
        </div>
        <p class="reviews-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-2.webp    1x,
                  ./img/reviews-img/img-client-2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-2.jpg    1x,
                  ./img/reviews-img/img-client-2@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-2.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Danilo Nottingham</h3>
        </div>
        <p class="reviews-text">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-3.webp    1x,
                  ./img/reviews-img/img-client-3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-3.jpg    1x,
                  ./img/reviews-img/img-client-3@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-3.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Natalia Sus</h3>
        </div>
        <p class="reviews-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-4.webp    1x,
                  ./img/reviews-img/img-client-4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-4.jpg    1x,
                  ./img/reviews-img/img-client-4@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-4.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Olena Kampusch</h3>
        </div>
        <p class="reviews-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-5.webp    1x,
                  ./img/reviews-img/img-client-5@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-5.jpg    1x,
                  ./img/reviews-img/img-client-5@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-5.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Nazar Babenko</h3>
        </div>
        <p class="reviews-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-client">
          <div class="client-img">
            <picture>
              <source
                srcset="
                  ./img/reviews-img/img-client-6.webp    1x,
                  ./img/reviews-img/img-client-6@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews-img/img-client-6.jpg    1x,
                  ./img/reviews-img/img-client-6@2x.jpg 2x
                "
              />
              <img
                src="./img/reviews-img/img-client-6.jpg"
                alt="client avatar"
                width="80"
                height="80"
              />
            </picture>
          </div>
          <h3 class="reviews-client-name">Victoria Dobrzhanska</h3>
        </div>
        <p class="reviews-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
    </ul>
    <button class="review-btn btn js-open-modal" data-modal="1" type="button">
      Leave a review
    </button>
  </div>
  <div class="reviews-modal modal" data-modal="1">
    <button type="button" class="reviews-modal-close js-modal-close">
      <svg class="reviews-modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="reviews-title">
      leave a review <br />
      about
      <span class="reviews-title-accent">our chocolate</span>
    </h2>
    <form class="reviews-modal-form">
      <div class="reviews-form-field">
        <input
          class="reviews-form-input"
          name="user-name"
          type="text"
          id="user-name"
          placeholder="Name"
          required
          minlength="3"
        />
      </div>
      <div class="reviews-form-field">
        <input
          class="reviews-form-input"
          name="user-mail"
          type="email"
          id="user-mail"
          placeholder="Email"
          required
        />
      </div>
      <div class="reviews-form-field reviews-input-phone">
        <div class="country">
          <svg class="reviews-form-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-flag"></use>
          </svg>
          <p class="country-cod">+380</p>
        </div>
        <input
          class="reviews-form-input phone-input"
          name="user-phone"
          type="tel"
          id="user-phone"
          placeholder="| Fhone number"
          pattern="[0-9]{5,7}"
          required
        />
      </div>
      <div class="reviews-form-field">
        <textarea
          class="reviews-text-area"
          class="user-comment"
          name="user-comment"
          id="user-comment"
          placeholder="Enter text"
          minlength="6"
          required
        ></textarea>
      </div>
      <button
        class="reviews-modal-submit btn js-open-modal"
        data-modal="2"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
  <div class="feedback-modal modal" data-modal="2">
    <button type="button" class="feedback-modal-close js-modal-close btn">
      <svg class="feedback-modal-close-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
</section>
