<section class="top-sellers">
  <div class="conteiner">
    <div class="conteiner"></div>
    <h2 class="title-sellers"><span class="sellers-span">TOP </span>SELLERS</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <picture class="sellers-pic">
          <source
            srcset="
              ../img/sellers-img/top-1-desk.webp    1x,
              ../img/sellers-img/top-1-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/sellers-img/top-1-tablet.webp    1x,
              ../img/sellers-img/top-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/sellers-img/top-1-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="../img/sellers-img/top-1-mob.webp 1x"
            alt="nuts chocolate"
          />
        </picture>
        <p class="sellers-text-one">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <picture class="sellers-pic">
          <source
            srcset="
              ../img/sellers-img/top-2-desk.webp    1x,
              ../img/sellers-img/top-2-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/sellers-img/top-2-tablet.webp    1x,
              ../img/sellers-img/top-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/sellers-img/top-2-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="../img/sellers-img/top-2-mob.webp 1x"
            alt="milk chocolate"
          />
        </picture>
      </li>
      <li class="sellers-item current">
        <picture class="sellers-pic">
          <source
            srcset="../img/sellers-img/top-3-desk@2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <img
            class="sellers-img"
            src="../img/sellers-img/top-3-desk.webp 1x"
            alt="dark chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-bottom">
      <p class="sellers-text-down">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="sellers-btn">Buy now</button>
    </div>
  </div>
</section>

<!-- 
section tOp Sellers-->
