<section class="top-sellers" id="sellers">
  <div class="container">
    <h2 class="title-sellers"><span class="sellers-span">TOP </span>SELLERS</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <picture class="sellers-pic">
          <source
            srcset="
              ./img/sellers-img/top-1-desk.webp    1x,
              ./img/sellers-img/top-1-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/sellers-img/top-1-tablet.webp    1x,
              ./img/sellers-img/top-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/sellers-img/top-1-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="./img/sellers-img/top-1-mob.webp 1x"
            alt="nuts chocolate"
          />
        </picture>
        <p class="sellers-text-one">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <picture class="sellers-pic">
          <source
            srcset="
              ./img/sellers-img/top-2-desk.webp    1x,
              ./img/sellers-img/top-2-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/sellers-img/top-2-tablet.webp    1x,
              ./img/sellers-img/top-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/sellers-img/top-2-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="./img/sellers-img/top-2-mob.webp 1x"
            alt="milk chocolate"
          />
        </picture>
      </li>
      <li class="sellers-item current">
        <picture class="sellers-pic">
          <source
            srcset="./img/sellers-img/top-3-desk@2x.webp 2x"
            media="(min-width: 1200px)"
          />
          <img
            class="sellers-img"
            src="./img/sellers-img/top-3-desk.webp 1x"
            alt="dark chocolate"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-bottom">
      <p class="sellers-text-down">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="sellers-btn">Buy now</button>
    </div>
  </div>
</section>
<!-- section tOp Sellers-->

<!-- modal: Explore our new chocolate first -->

<div class="backdrop is-hidden">
  <div class="modal-submit-conteiner">
    <div class="submit-top-div">
      <button type="button" class="modal-submit-close-btn js-close-menu">
        <svg class="modal-submit-close-icon" width="14" height="14">
          <use
            class="icon-close"
            href="../img/sellers-img/chocolate1.svg#icon-close-black-18dp-2-1"
          ></use>
        </svg>
      </button>
    </div>

    <div class="submit-bottom-div">
      <p class="modal-submit-text">
        Explore our<span class="modal-submit-span">new chocolate</span
        >&nbsp;first!
      </p>

      <form class="modal-submit-form">
        <label class="modal-submit-lab">
          <span class="div-help">
            <input
              type="email"
              name="user-mail"
              class="modal-submit-input"
              required
              minlength="2"
              placeholder="Enter your email"
            />
            <button type="submit" class="submit">Submit</button>
          </span>
        </label>
      </form>
    </div>
  </div>
</div>
