<!-- section Subscribe -->
<section class="subscribe-section">
  <div class="container subscribe-content">
    <h1 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="subscribe-btn" type="button" js-open-modal>Subscribe</button>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="subscribe-modal">
    <button class="subscribe-btn-modal" type="button" js-modal-close>
      <svg class="subscribe-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
<script src="./js/modal.js"></script>
