<!-- section Hero -->
<section class="section hero-section">
  <div class="container hero-content">
    <h1 class="hero-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
    <p class="hero-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="hero-btn" type="button" data-modal-open>
      Order Service
    </button>
  </div>
</section>
