.advantages-section {
    background-color: var(--dark-background-color);
}

.advantages {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
}

.advantage {
    margin-bottom: 29px;
}

.advantage:first-child {
    margin-top: 29px;
}

.advantage-icon-container {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.advantage-icon {
    width: 32px;
    height: 32px;
}

.advantage-headline {
    font-family: Montserrat-600;
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);
    margin-bottom: 18px;
}

.advantage-text {
    width: 308px;
    font-family: Montserrat-400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02px;
    color: rgba(255, 255, 255, 0.7);
}