.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1e1823;
}

.footer-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-span {
  color: #fd9222;
}

.footer-slogan {
  width: 300px;
  font-family: Montserrat-500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--light-color);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-text {
  padding-bottom: 14px;
  font-family: Montserrat-500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-color);
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-color);

  transition: color 250ms var(--timing-function);
}

.footer-contact:is(:hover, :focus) {
  color: var(--accent-color);
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item {
  height: 22px;
}

.footer-soc-link {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--light-color);

  transition: color 250ms var(--timing-function);
}

.footer-soc-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.footer-soc-icon {
  stroke: currentColor;
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}

.footer-link {
  display: block;
  height: 16px;
  font-family: Montserrat-500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-color);

  transition: color 250ms var(--timing-function);
}

.footer-link:is(:hover, :focus) {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-div {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-slogan {
    width: 300px;
    font-size: 28px;
    line-height: 34px;
  }

  .footer-wrap {
    gap: 50px;
    margin-bottom: 50px;
  }

  .footer-soc-list {
    gap: 18px;
  }

  .footer-list {
    flex-direction: row;
    margin-top: 24px;
    gap: 24px;
  }

  .footer-soc-item {
    height: 24px;
  }

  .footer-soc-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    gap: 63px;
    margin-bottom: 58px;
  }
}
