.hero__overlay .container-hero {
  padding-left: 0px;
  padding-right: 0px;
}

.hero {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 72px;
  /* padding-top: 14px; */
}

.hero__overlay {
  display: flex;
  align-items: end;
  height: 620px;
  max-width: 1136px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-img/chocolate-covered-cocoa-mob.jpg);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-img/chocolate-covered-cocoa-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 50px;
    /* padding-top: 24px; */
  }

  .hero__overlay {
    height: 890px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-img/chocolate-covered-cocoa-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-img/chocolate-covered-cocoa-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 72px;
    /* padding-top: 32px; */
  }

  .hero__overlay {
    height: 600px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-img/chocolate-covered-cocoa-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero-img/chocolate-covered-cocoa-desktop@2x.jpg);
  }
}

.hero__text {
  color: var(--light-color);
  font-family: Montserrat-500, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  margin-bottom: 32px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    width: 484px;
  }
}

.hero__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.hero__group-ul {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 32px;
}
.hero-modal__label {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .hero__group {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .hero__group-ul {
    gap: 14px;
    margin-bottom: 0px;
  }
  .hero-modal-wrap {
    display: flex;
    gap: 21px;
  }
}

.hero__btn-buy {
  padding: 12px 28px;

  width: 120px;
  height: 41px;
  background-color: #fd9222;
  color: var(--light-color);
  border: none;
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2px;
  transition: color 250ms var(--timeing-function),
    background-color 250ms var(--timeing-function);
}

@media screen and (min-width: 768px) {
  .hero__btn-buy {
    padding: 14px 40px;
    width: 144px;
    height: 45px;
  }
}

.hero__btn-buy:hover,
.hero__btn-buy:focus {
  background: #fcf1e0;
  color: var(--accent-color);
}

.hero__link-howmade {
  padding: 12px 28px;
  width: 159px;
  height: 41px;
  border: 1px solid #ffffff;
  color: var(--light-color);
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2px;
  transition: color 250ms var(--timeing-function),
    border 250ms var(--timeing-function);
}

.hero__link-howmade:hover,
.hero__link-howmade::after {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.hero__link-footer {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--light-color);

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  transition: color 250ms var(--timeing-function);
}

.hero__svg-size {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: var(--light-color);
  fill: var(--accent-color);
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timeing-function),
    fill 250ms var(--timeing-function);
}

.hero__link-footer:hover,
.hero__link-footer:focus {
  color: var(--accent-color);
}

.hero__link-footer:hover > .hero__svg-size,
.hero__link-footer:focus > .hero__svg-size {
  color: #fd9222;
  background: var(--accent-color);
  fill: var(--light-color);
}

@media screen and (min-width: 768px) {
  .hero__svg-size {
    width: 38px;
    height: 38px;
  }

  .hero__link-footer {
    font-size: 14px;
    line-height: 1.29;
  }
}

/* MODAl BUY NOW */

.hero-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.hero-modal__buy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 317px;
  /* height: 1007px; */
  max-height: 100vh;
  overflow: auto;
  padding: 32px 24px;
  background-color: var(--light-background-color);
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .hero-modal__buy {
    width: 609px;
    /* height: 1058px; */
    max-height: 100vh;
    padding: 48px;
  }
}

.hero-modal__list {
  /* display: flex; */
  margin-bottom: 59px;
}
.hero-modal__list > .slick-dots {
  padding-top: 14px;
}
.hero-modal__item {
  width: 257px;
  height: 231px;
  background-color: var(--light-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 32px 32px 28px 32px;
}
.hero-modal__item.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hero-modal__list {
    margin-bottom: 40px;
    justify-content: center;
  }
  .hero-modal__item {
    height: 196px;
    padding: 24px 20px;
  }
  .hero-modal__list .slick-track {
    gap: 16px;
  }
}

.hero-modal__text-card {
  padding: 8px 27px;

  width: 96px;
  height: 33px;
  background: var(--light-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  font-family: 'Montserrat-600';
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
}

.hero-modal__text-card2,
.hero-modal__text-card3 {
  padding: 8px 26px;
}

.hero-modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: inherit;
  stroke: var(--dark-color);
}

.hero-modal__close:hover,
.hero-modal__close:focus {
  stroke: var(--accent-color);
}

.hero-modal__close-svg {
  width: 100%;
  height: 100%;
}

.hero-modal__title {
  font-family: Montserrat-600, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .hero-modal__close {
    top: 24px;
    right: 24px;
  }
  .hero-modal__title {
    font-size: 24px;
  }
}

.hero-modal__title2 {
  color: var(--dark-color);
}

.hero-modal__form {
  display: flex;
  flex-direction: column;
}

.hero-modal__text {
  display: block;
  font-family: Montserrat-500, sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 8px;
}

.hero-modal__input {
  width: 263px;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding: 14px 18px;
  margin-bottom: 18px;
  outline: none;
  transition: border-color 250ms var(--timeing-function);

  font-family: 'Montserrat-400', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.hero-modal__input:hover,
.hero-modal__input:focus,
.hero-modal__input:checked,
.hero-modal__form-textarea:hover,
.hero-modal__form-textarea:focus,
.hero-modal__form-textarea:checked {
  border-color: var(--accent-color);
}

.hero-modal__input-tel {
  padding: 10px 18px 10px 106px;
}

@media screen and (min-width: 768px) {
  .hero-modal__input {
    height: 66px;
    width: 100%;
    padding: 22px 24px;
    font-size: 18px;
  }
  .hero-modal__input-tel {
    padding: 21px 24px 21px 177px;
  }
  .hero-modal__text {
    font-size: 14px;
  }
}

.hero-modal__card-svg {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-modal__control-card,
.hero-modal__control-tel {
  position: relative;
}

.hero-modal__phone-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-right: 8px;
  position: absolute;
  z-index: 1;
  left: 18px;
  top: 50%;
  transform: translateY(-35%);
  border-right: 1px solid rgba(64, 64, 64, 0.3);
}

.hero-modal__phone-380 {
  font-family: 'Montserrat-500';
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .hero-modal__phone-380 {
    font-size: 18px;
  }

  .hero-modal__phone-group {
    gap: 18px;
    padding-right: 32px;
    left: 24px;
  }
}

.hero-modal__form-textarea {
  width: 100%;
  height: 91px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  resize: none;
  padding: 14px 18px;
  margin-bottom: 18px;
  outline: none;
  transition: border-color 250ms var(--timeing-function);

  font-family: 'Montserrat-400', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .hero-modal__form-textarea {
    padding: 22px 24px;
    height: 163px;
    font-size: 18px;
  }
}

.hero-modal__submit {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 109px;
  height: 41px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border: none;
  border-radius: 100px;
  padding: 28px 14px;

  font-family: 'Montserrat-600', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  transition: background-color 250ms var(--timeing-function),
    color 250ms var(--timeing-function);
}

.hero-modal__submit:hover,
.hero-modal__submit:focus {
  background: #fcf1e0;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-modal__submit {
    padding: 14px 33px 14px 40px;
    width: 126px;
    height: 45px;
  }
}

/* MODAL THANK YOU */

/* .modal-bgd.modal-active>.reviews-modal {
    transform: translate(-50%, -50%) scale(1);
} */

.modal-thank__you {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 311px;
  height: 350px;
  padding-top: 87px;
  padding-bottom: 170px;
  padding-left: 68px;
  padding-right: 24px;
  overflow: hidden;

  background-color: var(--accent-color);
  border-radius: 15px;
}

.modal-thank__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  color: var(--accent-color);
}

.modal-thank__close-svg {
  fill: #fcf1e0;
  stroke: currentColor;
}

.modal-thank__close-svg:hover,
.modal-thank__close-svg:focus {
  color: var(--dark-color);
}

.modal-thank__title {
  font-family: Montserrat-600, sans-serif;
  text-align: start;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;

  color: #fcf1e0;
}

.modal-thank__text {
  text-align: start;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: -0.02em;

  color: var(--light-color);
}

.modal-thank__bgd {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .modal-thank__you {
    width: 516px;
    height: 414px;

    max-width: 516px;
    padding-top: 154px;
    padding-bottom: 154px;
    padding-left: 163px;
    padding-right: 44px;
  }

  .modal-thank__close {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
}
