.reviews {
  padding-bottom: 72px;
}
.reviews-title {
  margin-bottom: 32px;

  font-family: Montserrat-600, sans-serif;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.reviews-title-accent {
  color: var(--accent-color);
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
}
.reviews-list .slick-list {
  padding-top: 40px;
}
.reviews-item {
  position: relative;
  height: 202px;

  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-top: 104px;
  text-align: center;

  background-color: var(--light-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.reviews-client {
  width: 100%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.client-img {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;

  border-radius: 50%;
  overflow: hidden;
}
.reviews-client-name {
  margin-bottom: 24px;

  font-family: Montserrat-600, sans-serif;
  font-size: 18px;
  line-height: calc (24 / 18);

  color: var(--dark-color);
}
.reviews-text {
  height: 100%;
  overflow: auto;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-list .slick-track {
  gap: 16px;
}
.reviews-list .slick-dots {
  bottom: -33px;
}
.reviews-list.slick-dotted.slick-slider {
  margin-bottom: 65px;
}

.review-btn {
  display: block;
  padding: 12px 28px;
  margin-left: auto;
  margin-right: auto;

  font-family: Montserrat-600, sans-serif;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: var(--dark-color);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 100px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.review-btn:hover,
.review-btn:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}
/*-------------стилі модального вікна-------------------*/
.reviews-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  overflow: auto;

  width: calc(100% - 2 * 15px);
  max-width: 311px;
  padding: 32px 24px;

  background-color: var(--light-background-color);
  border-radius: 15px;
}
.modal-bgd.modal-active > .reviews-modal {
  transform: translate(-50%, -50%) scale(1);
}

.reviews-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  color: var(--dark-color);

  border: none;
  background: transparent;

  transition: color 250ms var(--timing-function);
}
.reviews-modal-close-icon {
  stroke: currentColor;
  background: transparent;
}
.reviews-modal .reviews-title {
  text-align: start;
}
.reviews-modal-close:hover,
.reviews-modal-close:focus {
  color: var(--accent-color);
}
.reviews-form-field {
  margin-bottom: 14px;
}
.reviews-form-field:last-child {
  margin-bottom: 44px;
}

.reviews-form-input {
  width: 100%;
  height: 45px;
  padding: 10px 18px;

  font-size: 14px;
  line-height: calc(17 / 14);
  align-items: center;
  letter-spacing: -0.02em;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  outline: none;

  transition: border-color 250ms var(--timeing-function);
}
.reviews-form-input:hover,
.reviews-form-input:focus,
.reviews-form-input:checked,
.reviews-text-area:hover,
.reviews-text-area:focus,
.reviews-text-area:checked {
  border-color: var(--accent-color);
}
.reviews-form-input.phone-input {
  padding-left: 106px;
}
.reviews-form-field.reviews-input-phone {
  position: relative;
}
.country {
  position: absolute;
  top: 22.5px;
  left: 18px;
  transform: translateY(-50%);
  display: flex;
  width: 74px;
  text-align: center;
  align-items: center;
  padding-right: 8px;
  gap: 8px;
}
.country-cod {
  font-family: Montserrat-500, sans-serif;
}
.reviews-text-area {
  width: 100%;
  height: 90px;
  padding: 10px 18px;

  font-size: 14px;
  line-height: calc(17 / 14);
  align-items: center;
  letter-spacing: -0.02em;

  outline: none;
  resize: none;
  overflow-y: auto;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}
.reviews-modal-submit {
  display: block;
  margin-top: 18px;
  padding: 12px 28px;
  margin-right: auto;

  font-family: Montserrat-600, sans-serif;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: var(--light-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 100px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.reviews-modal-submit:hover,
.reviews-modal-submit:focus {
  color: var(--accent-color);
  background-color: #fcf1e0;
}
.feedback-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 311px;
  padding-top: 87px;
  padding-bottom: 175px;
  padding-left: 68px;
  padding-right: 14px;
  overflow: hidden;

  background-color: var(--accent-color);
  border-radius: 15px;
}
.reviews-modal-close.feedback-modal-close {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  color: var(--accent-color);
}
.feedback-modal-close-icon {
  fill: #fcf1e0;
  stroke: currentColor;
}
.feedback-modal-close:hover,
.feedback-modal-close:focus {
  color: var(--dark-color);
}
.feedback-title {
  font-family: Montserrat-600, sans-serif;
  text-align: start;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #fcf1e0;
}
.feedback-text {
  text-align: start;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: -0.02em;

  color: var(--light-color);
}
.feedback-bgd {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .reviews-list .slick-dots {
    bottom: -45px;
  }
  .reviews {
    padding-bottom: 100px;
  }
  .reviews-list.slick-dotted.slick-slider {
    margin-bottom: 95px;
  }
  .review-btn {
    padding: 14px 40px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }
  .reviews-modal {
    max-width: 517px;
    padding: 40px;
  }
  .reviews-form-field {
    margin-bottom: 19px;
  }
  .reviews-modal-submit {
    padding: 14px 40px;
  }
  .feedback-modal {
    max-width: 516px;
    padding-top: 154px;
    padding-bottom: 154px;
    padding-left: 163px;
    padding-right: 44px;
  }
  .reviews-modal-close.feedback-modal-close {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }
  .reviews-form-input {
    height: 66px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }
  .country {
    top: 33px;
    gap: 18px;
    width: 125px;
  }
  .reviews-form-input.phone-input {
    padding-left: 149px;
  }
  .reviews-text-area {
    width: 100%;
    height: 137px;
    padding: 22px 24px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

@media screen and (min-width: 1200px) {
  .reviews-list .slick-track {
    gap: 28px;
  }
  .reviews {
    padding-bottom: 128px;
  }
}
