/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./slick.css');
@import url('./slick-theme.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./production.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./overlay.css');

@font-face {
  font-family: Montserrat-700;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-700-Italic;
  src: url(../fonts/Montserrat-BoldItalic.ttf);
}
@font-face {
  font-family: Montserrat-600;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-500;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-400;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto-400;
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-color: #ffffff;
  --dark-color: #111111;
  --accent-color: #fd9222;
  --light-background-color: #fafafa;
  --dark-background-color: #1e1823;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  scroll-behavior: smooth;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
body {
  font-family: Montserrat-400, sans-serif;
  color: var(--dark-color);

  background-color: var(--light-background-color);
}
textarea,
input {
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 365px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }
}
/*--------------slider---------------------*/
.slick-dots {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}
.slick-dots li.slick-active button:before {
  display: none;
}
.slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
}
.slick-dots li button {
  padding: 0;
  width: 13px;
  height: 13px;
  background-image: url(/img/dot.svg);
  background-repeat: no-repeat;
  transition: background-image 250ms var(--timing-function);
}
.slick-dots li button:before {
  display: none;
}
.slick-dots > li.slick-active button {
  width: 28px;
  background-image: url(/img/active-dot.svg);
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
/*--------------modal window data-modal---------------*/
.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 500px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
/*--------------modal window double---------------*/
.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgb(27 29 31 / 70%);
  /* display: flex;
  align-items: center;
  justify-content: center; */

  opacity: 0;
  pointer-events: none;

  transition: all 250ms var(--timing-function);
}
.modal-descr {
  margin-bottom: 0;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}
