/* --section subscribe-- */
.subscribe-section {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/img/subscribe-img/subscribe-mobile-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 370px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 62px;
  padding-bottom: 63px;
}
.subscribe-content {
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.subscribe-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 291px;
  /* height: 48px; */

  color: var(--light-color);
}
.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--light-color);
}
.subscribe-btn:hover,
.btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.subscribe-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--light-color);
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 14px;

  width: 128px;
  height: 41px;

  border-radius: 100px;

  cursor: pointer;
  border: 0;
  transition: background var(--timeing-function), color var(--timeing-function),
    font-size var(--timeing-function);
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-mobile-2x-min.jpg);
  }
  .subscribe-modal-img {
    height: 169px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .subscribe-text {
    max-width: 468px;
  }
  .subscribe-btn {
    font-size: 18px;
    width: 172px;
    height: 50px;
  }
  .subscribe-title {
    font-size: 24px;
    line-height: 1.17;

  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-tablet-min.jpg);
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-tablet-2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-desctop-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-desctop-2x-min.jpg);
  }
}
.subscribe-btn-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  transition: color 0.25s var(--timing-function);
  z-index: 10;
  fill: var(--light-color);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  opacity: 0;
  visibility: hidden;
  height: 350px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px #0003;
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: var(--light-color);
  transition: 0.3s all;
}
.subscribe-modal.modal.active {
  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  padding: 0;
  background-color: var(--light-background-color);
  border-radius: 15px;
}
.subscribe-modal-title {
  text-align: left;
  left: 24px;
  top: 114px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-top: 32px;
  margin-bottom: 24px;
}

.subscribe-modal-form-content {
  margin: 32px 24px;
}
.sub-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 50%;
}

.subscribe-modal-logo {
  color: var(--accent-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.subscribe-modal-input {
  width: 263px;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 30px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.subscribe-modal-btn-submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100px;
  height: 45px;
  background-color: var(--accent-color);
  border-radius: 100px;
  color: var(--light-color);
  font-weight: 600;
  font-size: 14px;
  border-color: transparent;
}
.subscribe-modal-btn-submit:hover,
.subscribe-modal-btn-submit:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.modal-form-content {
  position: relative;
}
@media screen and (max-width: 767px) {
  .subscribe-modal.modal.active {
    width: 311px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
  }

  .subscribe-modal-form-content {
    margin: 40px;
  }

  .subscribe-modal-title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.17;
  }

  .subscribe-modal-logo {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
  }

  .subscribe-modal-input {
    width: 273px;
    height: 52px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.22;
  }

  .subscribe-modal-btn-submit {
    width: 137px;
    height: 52px;
    background-color: var(--accent-color);
    border-radius: 100px;
    color: var(--light-color);
    font-size: 14px;
  }
  .subscribe-modal {
    width: 538px;
    height: 412px;
  }
  .subscribe-modal.modal.active {
    text-align: left;
  }
}
