/* section subscribe */
.subscribe-section {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/subscribe-img/subscribe-mobile-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 370px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 62px;
  padding-bottom: 62px;
}
.subscribe-content {
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.subscribe-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 291px;
  height: 48px;

  color: var(--light-color);
}
.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--light-color);
}
.subscribe-btn:hover,
.btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.subscribe-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--light-color);
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 14px;

  width: 128px;
  height: 41px;

  border-radius: 100px;

  cursor: pointer;
  border: 0;
  transition: background var(--timeing-function), color var(--timeing-function),
    font-size var(--timeing-function);
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-mobile-2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .subscribe-text {
    max-width: 468px;
  }
  .subscribe-btn {
    font-size: 18px;
    width: 172px;
    height: 50px;
  }
  .subscribe-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe-img/subscribe-tablet-min.jpg);
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 1199px) and (min-resolution: 192dpi),
  screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-tablet-2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe-img/subscribe-desctop-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe-img/subscribe-desctop-2x-min.jpg);
  }
}
.subscribe-btn-modal {
  background: var(--color-footer);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-modal {
  padding: 24px;
  width: 408px;
  min-height: 576px;
  background: var(--color-back-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--hover-transition);
}
/* .backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility var(--hover-transition),
    opacity var(--hover-transition);
} */
